{% extends "layout.html" %} {% block content %}
<div class="breadcrumbs">
    <div class="container">
        <a href="./index">Home</a>
        <span>Confirmation</span>
    </div>
</div>

<div class="page">
    <div class="fullwidth-block">
        <div class="container">
            <h1 class="entry-title">Confirmation</h1>
            <p>
                Thank you for choosing Insurance Masters. You can now download the insurance certificate from the link
                below. If you have any questions or concerns, feel free to call us at +1 623-810-5235.
            </p>
            <p>
            <div class="col-sm-6">
                <div class="row">
                    <div class="col-sm-6 text-center">
                        Receipt<br>
                        Insurance Masters<br>
                        +1 623-810-5235<br>
                        ********************
                    </div>
                </div>
                <div class="row no-margin-top-bottom">
                    <div class="text-left col-sm-2">Date:</div>
                    <div class="text-right col-sm-4">{{cc_date}}</div>
                </div>
                <div class="row no-margin-top-bottom">
                    <div class="text-left col-sm-2">Time:</div>
                    <div class="text-right col-sm-4">{{cc_time}}</div>
                </div>
                <div class="row no-margin-top-bottom">
                    <div class="text-left col-sm-2">Name:</div>
                    <div class="text-right col-sm-4">{{cc_name}}</div>
                </div>
                <div class="row no-margin-top-bottom">
                    <div class="text-left col-sm-2">ACCT:</div>
                    <div class="text-right col-sm-4">**** **** **** {{cc_number}}</div>
                </div>
                <div class="row no-margin-top-bottom">
                    <div class="text-left col-sm-3">AUTH CODE:</div>
                    <div class="text-right col-sm-3">{{cc_auth_code}}</div>
                </div>
                <div class="row no-margin-top-bottom">
                    <div class="text-left col-sm-2">TOTAL:</div>
                    <div class="text-right col-sm-4">{{cc_amount}}</div>
                </div>
            </div>
            <br><br>
            Please print this page for your record. <button onclick="window.print()">Print</button>
            </p>
            <br>
            <p>
                <a href="/certificate" target="_blank">Your Insurance Certificate</a>
            </p>
        </div>
        <!-- .container -->
    </div>
    <!-- .fullwidth-block -->
</div>

{% endblock %}
