{% extends "layout.html" %} {% block content %}
<div class="breadcrumbs">
  <div class="container">
    <a href="./index">Home</a>
    <span>Get a quote (Questionnaire)</span>
  </div>
</div>
<div class="page">
  <div class="container">
    <div class="row">
      <h3 class="entry-title">Get Insurance Liability Today</h3>
    </div>
    <p></p>
    <form action="./quoteaboutbusiness" method="post" class="contact-form">
      <div class="row">
        <h4 class="entry-title" name="header-about-your-business">
          <b>About Your Business </b>
        </h4>
      </div>
      <div class="row">
        <span class="col-md-4" style="color: red">* = Required</span>
      </div>
      <div class="row">
        <div class="col-md-4">
          <span style="color: red">*</span> First Name
          <input
            type="text"
            placeholder="Enter your legal first name"
            name="txt-field-first-name"
            required
            maxlength="32"
          />
        </div>
        <div class="col-md-4">
          <span style="color: red">*</span> Last Name
          <input
            type="text"
            placeholder="Enter your legal last name"
            name="txt-field-last-name"
            required
            maxlength="32"
          />
        </div>
        <div class="col-md-4">&nbsp;</div>
      </div>
      <div class="row">
        <div class="col-md-8">
          <span style="color: red">*</span> Registered Business Name
          <input
            type="text"
            placeholder="Enter your business name exactly as registered with the state"
            name="txt-field-business-name"
            required
            maxlength="80"
            value="{{business_name}}"
          />
        </div>
      </div>
      <div class="row">
        <div class="col-md-8">
          Firm d/b/a
          <input type="text" placeholder="Enter legal name under business or operation is Doing Business As" name="txt-field-firm-dba" maxlength="80" />
        </div>
      </div>
      <div class="row">
        <div class="col-md-8">
          Formerly known as
          <input
            type="text"
            placeholder="Enter the former name of your business"
            maxlength="80"
          />
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          Phone Number
          <span style="color: red">*</span>
          <input
            type="text"
            placeholder="Enter a valid business phone eg. (+1 623 810 5235)"
            required
            maxlength="15"
            oninvalid="this.setCustomValidity('Must be valid phone number')"
            oninput="this.setCustomValidity('')"
            pattern="^(?:(?:\+?1\s*(?:[.-]\s*)?)?(?:\(\s*([2-9]1[02-9]|[2-9][02-8]1|[2-9][02-8][02-9])\s*\)|([2-9]1[02-9]|[2-9][02-8]1|[2-9][02-8][02-9]))\s*(?:[.-]\s*)?)?([2-9]1[02-9]|[2-9][02-9]1|[2-9][02-9]{2})\s*(?:[.-]\s*)?([0-9]{4})(?:\s*(?:#|x\.?|ext\.?|extension)\s*(\d+))?$"
          />
        </div>
        <div class="col-md-4">
          Email
          <span style="color: red">*</span>
          <input
            type="text"
            placeholder="Enter a valid business email"
            required
            maxlength="50"
            oninvalid="this.setCustomValidity('Must be valid email address')"
            oninput="this.setCustomValidity('')"
            pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$"
          />
        </div>
      </div>
      <!-- <div class="row">
        <div class="col-md-8">
          Are you currently insured?
          <span style="color: red">*</span>

          <select>
            <option value="Yes">Yes</option>
            <option value="No">No</option>
          </select>
        </div>
      </div> -->
      <div class="row">
        <div class="col-md-8">
          <span style="color: red">*</span>Business Address
          <input
            type="text"
            placeholder="Enter business address in which your business is headquartered"
            name="txt-field-address"
            required
            pattern="^[#.0-9a-zA-Z\s,-]+$"
            maxlength="80"
          />
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <span style="color: red">*</span>City
          <input type="text" placeholder="Enter the city" required maxlength="32" />
        </div>
        <div class="col-md-2">
          <span style="color: red">*</span>State<br>
          <select>
            <option value="CA" {% if selected_state=='CA' %} selected="selected"{% endif %}>California</option>
            <option value="TX" {% if selected_state=='TX' %} selected="selected"{% endif %}>Texas</option>
            <option value="WA" {% if selected_state=='WA' %} selected="selected"{% endif %}>Washington</option>
            <option value="FL" {% if selected_state=='FL' %} selected="selected"{% endif %}>Florida</option>
            <option value="VA" {% if selected_state=='VA' %} selected="selected"{% endif %}>Virginia</option>
          </select>
        </div>
        <div class="col-md-2">
          <span style="color: red">*</span>Zip Code
          <input
            type="text"
            placeholder="eg. (12345-6789)"
            required
            oninvalid="this.setCustomValidity('Must be a valid zip code')"
            oninput="this.setCustomValidity('')"
            pattern="^[0-9]{5}(?:-[0-9]{4})?$"
          />
        </div>
      </div>
      <p class="text-left">
        <input
          type="submit"
          value="Continue"
          name="btn-continue-about-business"
        />
        <input onclick="window.location.href = '/index';" type="submit" value="Previous" />
      </p>
    </form>
  </div>
</div>

{% endblock %}
