{% extends "layout.html" %} {% block content %}
<div class="breadcrumbs">
  <div class="container">
    <a href="./index">Home</a>
    <span>Get a quote (State Selection)</span>
  </div>
</div>
<div class="page">
  <div class="container">
    <h3 class="entry-title">Get Insurance Liability Today</h3>
    <p>
      Nam posuere purus vitae est sollicitudin placerat. Praesent posuere porta
      dignissim. Phasellus viverra, urna a convallis tincidunt, ante mi tempor
      turpis, nec tempor mauris ligula ut sapien. Etiam euismod mi eu ante
      mollis commodo. Suspendisse porta nisi vitae dui hendrerit, eget ornare
      orci semper. Phasellus pharetra, erat sit amet rutrum porttitor, est eros
      consectetur elit, molestie consequat erat tellus in dui. Vestibulum a
      vehicula sem. Nullam commodo quis purus in volutpat. Integer semper lacus
      a lorem efficitur auctor curabitur tincidunt ligula non.
    </p>
    <form action="./quoteaboutyou" method="post">
      <strong>Select Your State: </strong>
      <select name="select-state-dropdown">
        <option value="">Please select one</option>
        <option value="CA" name="state-option-CA">California</option>
        <option value="TX" name="state-option-TX">Texas</option>
        <option value="WA" name="state-option-WA">Washington</option>
        <option value="FL" name="state-option-FL">Florida</option>
        <option value="VA" name="state-option-VA">Virginia</option>
      </select>
      <button type="submit" name="btn-continue-to-quote">Continue</button>
    </form>
  </div>
</div>

{% endblock %}
