{% extends "layout.html" %}

{% block content %}
<div class="breadcrumbs">
					<div class="container">
						<a href="./index">Home</a>
						<span>Contact</span>
					</div>
				</div>

				<div class="page">
					<div class="fullwidth-block">
						<div class="container">
							<h1 class="entry-title">Need more help?</h1>
							<p>You can reach us by calling 1-623-810-5235, and we will answer all your questions or concerns.</p>

						</div> <!-- .container -->
					</div> <!-- .fullwidth-block -->

				</div>

{% endblock %}