{% extends "layout.html" %} {% block content %}

<div class="page">
  <center>
    <div class="container">
      <h3 class="entry-title">Get a Quote, Get Covered, Today</h3>
      <p>InsuranceMasters offers online General Liability insurance.</p>
      <p>We let you manage your business, while you let us manage your risk.</p>
      <p>Please select a state from our covered states to begin the process.</p>
      <form action="./quoteaboutyou" method="post">
        <strong>Select Your State: </strong>
        <select name="select-state-dropdown">
          <option value="">Please select one</option>
          <option value="CA" name="state-option-CA">California</option>
          <option value="TX" name="state-option-TX">Texas</option>
          <option value="WA" name="state-option-WA">Washington</option>
          <option value="FL" name="state-option-FL">Florida</option>
          <option value="VA" name="state-option-VA">Virginia</option>
        </select>
        <button type="submit" name="btn-continue-to-quote">Continue</button>
      </form>
    </div>
  </center>
</div>

{% endblock %}
