{% extends "layout.html" %}

{% block content %}
    <div class="breadcrumbs">
        <div class="container">
            <a href="./index">Home</a>
            <span>Get a quote (State Selection)</span>
        </div>
    </div>
<div class="page">
    <div class="container">
        <h3 class="entry-title">Get Insurance Liability Today </h3>
        <p>Nam posuere purus vitae est sollicitudin placerat. Praesent posuere porta dignissim. Phasellus viverra, urna a convallis tincidunt, ante mi tempor turpis, nec tempor mauris ligula ut sapien. Etiam euismod mi eu ante mollis commodo. Suspendisse porta nisi vitae dui hendrerit, eget ornare orci semper. Phasellus pharetra, erat sit amet rutrum porttitor, est eros consectetur elit, molestie consequat erat tellus in dui. Vestibulum a vehicula sem. Nullam commodo quis purus in volutpat. Integer semper lacus a lorem efficitur auctor curabitur tincidunt ligula non.</p>
        <form action="./quote" method="post">
            <strong>Select Your State: </strong>
            <select>
                <option value="">Please select one</option>
                <option value="CA">California</option>
                <option value="TX">Texas</option>
                <option value="WA">Washington</option>
                <option value="FL">Florida</option>
                <option value="VA">Virginia</option>
            </select>
            <button name="continue" type="submit">Continue</button>
       </form>

    </div>
</div>

{% endblock %}